@import '../../theme/_colors.scss';


/* *** Styling API *** */

:host {
  --slider-thumb-color: #{$theme-color-primary};
  --slider-track-color: #{$theme-color-background};
  --slider-progress-color: #{$theme-color-secondary};
}



/* *** Shadow DOM Host *** */

:host .demo-range-slider {
  width: 100%;
}

:host #sliders .input-range {
  margin: 0;
}

:host #input-forms {
  margin-top: 40px;
}



/* *** Firefox *** */

/* Thumb */

.input-range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: var(--slider-thumb-color);
  border-radius: 50%;
  border: none;
  outline: none;
}


/* Track */

.input-range::-moz-range-progress {
  height: 5px;
  border: none;
}

.input-range::-moz-range-track { 
  height: 5px;
  border: none;
}


/* Slider low */

#slider_low::-moz-range-progress {
  background-color: var(--slider-track-color);
}

#slider_low::-moz-range-track {  
  background-color: var(--slider-progress-color);
}


/* Slider high */

#slider_high::-moz-range-progress {
  background-color: var(--slider-progress-color);
}

#slider_high::-moz-range-track {  
  background-color: var(--slider-track-color);
}